@import "mixins";

.dash-main{
    .dash{
        .admin-dash{
            .admin-main{
                @include rowDisplayFlex;
                .admin-left-side{
                    .info{
                        @include rowDisplayFlex;
                        justify-content: space-between;
                        width: 53vw;
                        margin: 7vh 0 2vh 5vw;
                        .students{
                            background-color:#EA7327;
                            @include admin-top-panel;
                        }
                        .teachers{
                            background-color: #EB001B;
                            @include admin-top-panel;
                        }
                        .videos{
                            background-color: #0551A7;
                           @include admin-top-panel;
                        }
                        .classes{
                            background-color: #9ABE21;
                            @include admin-top-panel;
                        }
                    }
                    .statistics{
                        @include rowDisplayFlex;
                        margin: 0 1vw 0 3vw;
                        @include statistics-chart;
                        width: 57vw;
                    }
                }
                .admin-profile{
                    text-align: center;
                    margin: 8vh 0;
                    width: 20vw;
                    height: 57vh;
                    @include admin-dash;
                    h4{
                      padding: 5vh 0;
                    }
                    img{
                        margin: 2vh 0;
                    }
                    p{
                        font-size: 10px;
                    }
                    button{
                        width: 15vw;
                        margin-top: 3vh;
                        padding: 2vh 3vw;
                        border-radius: 10px;
                        border: none;
                        i{
                            padding-left: 1vw;
                        }
                    }
                }
            }
            .reviews{
                @include rowDisplayFlex;
                margin: 2vh 3vw;
                .feedback{
                    @include feedback-features;
                    p:nth-of-type(1){
                        padding: 3vh 0;
                        font-size: 12px;
                    }
                    p:nth-of-type(2),p:nth-of-type(4){
                        padding: 10px 0;
                        margin-left: 20vw;
                        font-size: 14px;
                        color: #0551A7;
                        a{
                            text-decoration: none;
                            color: #0551A7;
                        }
                    }
                    p:nth-of-type(3){
                        padding: 3vh 0;
                        font-size: 12px;
                    }
                    blockquote{
                        width: 30vw;
                        padding-left: 2vw;
                        font-size: 14px;
                        color: #333333;
                    }
                }
                .features{
                   @include feedback-features;
                    .row-1{
                        @include rowDisplayFlex;
                        .upload, .add-teacher{
                            margin: 3vh 3vw;
                            figure{
                                @include admin-figure;
                            }
                            p{
                                margin-top: 2vh;
                                a{
                                    color: black;
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                    .row-2{
                        @include rowDisplayFlex;
                        .edit, .add-event{
                            margin: 2vh 3.2vw;
                            figure{
                                @include admin-figure;
                            }
                            p{
                                margin-top: 2vh;
                                a{
                                    color: black;
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.schedule-body{
    background: linear-gradient(180deg, rgba(45, 109, 181, 0.19) -14.77%, rgba(45, 109, 181, 0) 100%), url(/Images/Pattern.png);
    background-repeat: no-repeat;
}
.schedule-form{
    background-color: #ffffff;
    margin: 5vh 25vw;
    width: 50vw;
    padding: 8vh 5vw;
    box-shadow: 0px 5px 20px 7px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    .schedule-header{
        text-align: center;
        h2{
            color: $pryColor;
        }
        hr{
            width: 20vw;
            color: $pryColor;
            margin: 3vh 10vw 5vh 10vw;
        }
    }
    input, select{
        width: 40vw;
        padding: 2vh 2vw;
        margin: 2vh 0;
    }
    button{
        width: 40vw;
        padding: 2vh 2vw;
        margin: 3vh 0 0 0;
        font-size: 18px;
        background-color: #a1c628;
        color: #ffffff;
        border: none;
        transition: background-color 0.5s linear;
        &:hover{
            border: solid 1px #a1c628;
            background-color: #ffffff;
            color: #a1c628;
        }
    }
}
.schedule-body{
    background: linear-gradient(180deg, rgba(45, 109, 181, 0.19) -14.77%, rgba(45, 109, 181, 0) 100%), url(/Images/Pattern.png);
}
.table-header{
    background-color: $pryColor;
    padding: 3vh 3vw;
    margin-bottom: 3vh;
    width: 75vw;
    p{
        font-size: 20px;
        font-weight: 600;
        color: #ffffff;
    }
}
.schdule-table{
    margin: 3vh 2vw;
    .dataTables_wrapper {
        .dataTables_length select{
            margin: 1vh 0 4vh 0;
        }
        .dataTables_filter{
            margin: 1vh 0 4vh 0;
        }
    }
    table,th,td,tr{
        border: solid 1px black;
        border-collapse: collapse;
    }
    table{
        width: 94vw;
        thead{
            background-color: #ffffff;
        }
        td,th{
            padding: 1vh 2vw;
        }
    }
}