@import "mixins";

main{
    display: block;
}
.sub-body{
    background-image: url("../Images/Background\ Pattern.png");
    background-size: cover;
    background-repeat:repeat-y
}
.navbar{
    @include rowDisplayFlex;
    justify-content: space-between;
    margin: 30px 60px;
    padding: 0;
    .nav{
        .closebtn{
            display: none;
        }
        ul{
            @include rowDisplayFlex;
            justify-content: space-around;
            li{
                list-style-type: none;
                margin: 30px 20px;
                a{
                    color: $pryColor;
                    text-decoration: none;
                    font-size: 18px;
                    font-weight: 700;
                }
                button{
                    @include blueButton;
                    margin-top: -7px;
                }
            }
            .icon{
                display: none;
            }
        }
    }
}
.onboarding-nav{
    background-image: url("../Images/Ellipse\ 61.png"),url("../Images/Ellipse\ 62.png"), url("../Images/Ellipse\ 63.png");
    background-repeat: no-repeat;
    background-position: 5% 40%, 45% 50% ,35% 100%;
    .navbar{
        @include rowDisplayFlex;
        justify-content: space-between;
        margin: 30px 60px;
        padding: 0;
        .closebtn{
            display: none;
        }
        .nav{
            ul{
                @include rowDisplayFlex;
                justify-content: space-around;
                li{
                    list-style-type: none;
                    margin: 30px 20px;
                    a{
                        color: $pryColor;
                        text-decoration: none;
                        font-size: 18px;
                        font-weight: 700;
                    }
                    button{
                        @include blueButton;
                        margin-top: -7px;
                    }
                }
                .icon{
                    display: none;
                }
            }
        }
    }

    .hero{
        @include rowDisplayFlex;
        .hero-body{
            width: 700px;
            transform: translateY(100px);
            transition: all 1s ease-in-out;
            p{
                font-size: 50px;
                font-weight: 800;
                margin: 80px 60px 0 60px;
                line-height: 78.02px;
                img{
                    position: absolute;
                }
            }
        }
        .hero-img{
            transform: translateX(50px);
            transition: all 2s ease-in-out;
        }
    }
}
.bannerItem{
    opacity: 0;
}

.onboarding-nav{
    .shwBannerItem{
        opacity: 1;
        &.hero-img{
            transform: translateX(0px);
        }
        &.hero-body{
            transform: translateY(0px);
        }
    }
}
.scroll{
    opacity: 0;
}

.grouping{
    background-image: url("../Images/onboardingPattern.png");
    .guide{
        margin-top: 150px;
        opacity: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .group{
            @include rowDisplayFlex;
            margin-left: 80px;
            .first-row{
                .basic-class{
                    border-radius: 0px 50px;
                    text-align: center;
                    width: 200px;
                    height: 200px;
                    transition: all 2s ease;
                    transform: translateY(-150px);
                    p{
                        line-height: 20px;
                    }
                }
                .senior-class{
                    border-radius: 50px 50px 0 50px;
                    text-align: center;
                    width: 220px;
                    height: 220px;
                    transition: all 3s ease;
                    transform: translateY(100px);
                    p{
                        line-height: 20px;
                    }
                }
            }
            .second-row{
                .junior-class{
                    border-radius: 50px 50px 0 50px;
                    text-align: center;
                    margin-bottom: 15px;
                    width: 200px;
                    height: 200px;
                    transition: all 2s ease;
                    transform: translateY(-100px);
                    p{
                        line-height: 17px;
                        padding-bottom: 25px;
                    }
                }
                .special-classes{
                    border-radius: 0 50px 50px 50px;
                    background-color: $pryColor;
                    text-align: center;
                    width: 220px;
                    height: 220px;
                    transition: all 3s ease;
                    transform: translateY(90px);
                    p{
                        line-height: 15px;
                    }
                }
            }
            .class{
                background-color: #237ADC;
                margin: 20px;
                color: $whiteColor;
                padding: 20px;
                text-align: center;
                h6{
                    padding: 25px 0;
                    font-weight: 600;
                    font-size: 20px;
                }
                p{
                    font-size: 12px;
                }
            }
        }
        .offer-bg{
            background: url("../Images/Ellipse\ 62.png");
            background-repeat: no-repeat;
            background-position: 50% 0;
            .offer{
                background-color: $whiteColor;
                box-shadow: 0px 4px 15px 5px rgba(5, 81, 167, 0.5);
                z-index: 9999999;
                border-radius: 50px;
                width: 650px;
                margin: 70px 20px;
                padding: 40px 10px;
                text-align: center;
                transition: all 2s ease-in-out;
                transform: translateX(-30px);
                h6{
                    margin: 25px 0;
                    font-weight: 500;
                    font-size: 20px;
                }
                p{
                    font-size: 14px;
                    text-align: center;
                    line-height: 19.5px;
                }
            }
        }
    }
    .guide1{
        .guide-info{
            @include rowDisplayFlex;
            justify-content: space-between;
            width: 900px;
            height: 46vh;
            background: $whiteColor;
            box-shadow: 0px 4px 15px 5px rgba(5, 81, 167, 0.5);
            border-radius: 50px;
            margin: 20vh auto;
            .guide-img{
                position: relative;
                top: -17vh;
                left: 3vw;
                transition: all 2s ease-in-out;
            }
            .guide-text{
                margin-top: 40px;
                padding: 0 40px;
                transition: all 2s ease-in-out;
                transform: translateY(15px);
                h5{
                    font-size: 20px;
                    font-weight: 500;
                    padding: 20px 0;
                }
                p{
                    padding: 20px 0;
                    line-height: 23.5px;
                }
                button{
                    @include orangeButton;
                    padding: 5px 30px;
                    border: none;
                }
            }
        }
    }
}
.grouping{
    .guide{
        .group{
            .scrolled{
                opacity: 1;
                &.basic-class{
                    transform: translateY(0px);
                }
                &.senior-class{
                    transform: translateY(0px);
                }
                &.junior-class{
                    transform: translateY(0px);
                }
                &.special-classes{
                    transform: translateY(0px);
                }
            }
        }
        .offer-bg{
            .scrolled{
                opacity: 1;
                &.offer{
                    transform: translateX(0px);
                }
            }
        }
    }
    .start-learning{
        opacity: 0;
        transition: all 2s ease-in-out;
        transform: translateY(-15px);
        .start-header{
            font-size: 30px;
            font-weight: 600;
            color: $pryColor;
            text-align: center;
            margin: 100px 0 150px 0;
        }
        .step-labels{
            @include rowDisplayFlex;
            h4{
                font-size: 16px;
                font-weight: 700;
            }
            .label-1{
                margin: 7vh 12vw 0vh 12vw;
            }
            .label-2{
                margin: 2vh 8vw;
            }
            .label-3{
                margin: -7vh 11vw 2vh 11vw;
            }
            .label-4{
                margin: -15vh 10vw 2vh 10vw;
            }
        }
        .steps{
            @include rowDisplayFlex;
            padding: 5vh 3vw;
            .step-1{
                background-color: $pryColor;
                width: 264px;
                height: 232px;
                margin: 2vh 2vw;
                color: #ffffff;
                padding: 4vh 0;
                p{
                    text-align: center;
                }
                i{
                    font-size: 36px;
                    margin: 7vh 8vw 4vh 8vw;
                }
            }
            .step-2{
                background-color: rgba(255, 137, 62, 1);
                width: 264px;
                height: 292px;
                margin: -7vh 2vw 2vh 2vw;
                color: #ffffff;
                padding: 4vh 0;
                p{
                    text-align: center;
                }
                i{
                    font-size: 36px;
                    margin: 12vh 8vw 4vh 8vw;
                }
            }
            .step-3{
                background-color: rgba(153, 191, 33, 1);
                width: 264px;
                height: 348px;
                margin: -15vh 2vw 2vh 2vw;
                color: #ffffff;
                padding: 4vh 0;
                p{
                    text-align: center;
                }
                i{
                    font-size: 36px;
                    margin: 16vh 8vw 4vh 8vw;
                }
            }
            .step-4{
                background-color: rgba(246, 198, 27, 1);
                width: 264px;
                height: 408px;
                margin: -23vh 2vw 2vh 2vw;
                color: #ffffff;
                padding: 4vh 0;
                p{
                    text-align: center;
                }
                i{
                    font-size: 36px;
                    margin: 23vh 8vw 4vh 8vw;
                }
            }
        }
    }
    .guide1{
        .scrolled{
            opacity: 1;
            &.guide-text{
                transform: translateY(0px);
            }
        }
    }
    .scrolled{
        &.start-learning{
            opacity: 1;
            transform: translateY(0px);
        }
    }
}
.join{
    text-align: center;
    margin-top: 100px;
    padding: 0 50px;
    transition: 1s;
    transform: translateY(-50px);
    h3{
       font-weight: 600; 
       font-size: 24px;
       width: 579px;
       margin: 0 auto;
    }
    p{
        padding: 15px;
        width: 978px;
        margin: 0 auto;
    }
    button{
        @include orangeButton;
        padding: 10px 20px;
        border: none;
    }
}
.scrolled{
    opacity: 1;
    &.join{
        transform: translateY(0px);
    }
}
.tutors{
    background-image: url("../Images/Rectangle\ 5.png");
    padding: 80px 40px 100px 40px;
    margin-top: 40px;
    h3{
        text-align: center;
        margin: 50px 0;
        color: $whiteColor;
        font-size: 24px;
        font-weight: 600;
    }
    .slideshow{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-bottom: 8vh;
        .carousel{
            figure{
                transition: all 2s ease-in-out;
                img{
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                }
                figcaption{
                    p{
                        color: $whiteColor;
                        padding: 3px;
                    }
                }
            }
        }
    }
    .carousel-indicators{
        text-align: center;
        margin-top: 50px;
        li{
            height: 15px;
            width: 15px;
            bottom: -50px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
        }
    }
}
.payment{
    h3{
        text-align: center;
        padding: 50px 0 0 0;
        font-size: 24px;
        font-weight: 600;
        margin: 90px 0 0 0;
        color: $pryColor;
    }
    .payment-options{
        @include rowDisplayFlex;
        justify-content: space-around;
        margin-bottom: 40px;
        .mastercard{
            transition: all 2s ease-in;
            transform: translateY(-30px);
        }
        .visa{
            transition: all 2s ease-in;
            transform: translateY(20px);
           img{
                padding: 45px 0 50px 0;
           }
        }
        .paypal{
            transition: all 2s ease-in;
            transform: translateY(-30px);
        }
        .plan{
            width: 338.9px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
            text-align: center;
            padding: 40px 30px;
            margin-top: 20px;
            img{
                padding-bottom: 30px;
            }
            p{
                color: #333333;
                padding: 10px;
            }
           p:first-of-type{
               font-size: 20px;
               font-weight: 500;
            }
            button{
                @include orangeButton;
                padding: 10px 47px;
                border: none;
            }
        }
    }
}
.payment{
    .payment-options{
        .scroll{
            opacity: 0;
        }
        .scrolled{
            &.mastercard{
                opacity: 1;
                transform: translateY(0px);
            }
            &.visa{
                opacity: 1;
                transform: translateY(0px);
            }
            &.paypal{
                opacity: 1;
                transform: translateY(0px);
            }
        }
    }
}
.subscription-section{
    h3{
        text-align: center;
        color: $pryColor;
        font-size: 24px;
        font-weight: 600;
        margin: 10vh 0
    }
    .subscription-plans{
        @include rowDisplayFlex;
        .basic,.standard,.premium{
            background-color: rgba(249, 249, 249, 1);
            color: $pryColor;
            margin: 3vh 3vw;
            width: 367px;
            height: 300px;
            padding: 3vh 5vw;
            p,h5{
                margin: 6vh 1vw;
                font-size: 24px;
                font-weight: 500;
                text-align: center;
            }
            p{
                font-weight: 700
            }
            button{
                @include orangeButton;
                width: 15vw;
                padding: 2vh 1vw;
                margin: 1vh 2vw;
                border: none;
            }
        }
    }
}
footer{
    .footer-color{
        img{
            width: 98.7vw;
            position: relative;
            bottom: -80px;
        }
    }
    .footer{
        background: url("../Images/Instaskool\ Img\ Faded\ \(1\).png"), rgba(5, 81, 167, 1);
        background-repeat: no-repeat;
        position: relative;
        bottom: 0;
        width: 98.7vw;
        border-radius: 30px 30px 0 0;
        padding: 50px;
        color: $whiteColor;
        .footer-content{
            @include rowDisplayFlex;
            justify-content: space-around;
            padding-top: 25px;
            .quick-links{
                padding: 0 0 35px 5vw;
                h5{
                    padding-bottom: 40px;
                }
                ul{
                    li{
                        list-style-type: none;
                        padding: 5px 0;
                        a{
                            color: $whiteColor;
                            text-decoration: none;
                        }
                    }
                }
            }
            .office{
                padding: 0 0 35px 0;
                line-height: 2;
                h5{
                    padding-bottom: 30px;
                }
            }
            .email{
                padding: 0 0 35px 0;
                h5{
                    padding-bottom: 30px;
                }
            }
            .newsletter{
                padding: 0 0 35px 0;
                h5{
                    padding-bottom: 30px;
                }
                form{
                    label{
                        border-radius: 0px 0px 0px 10px;
                        border: solid 1px $whiteColor;
                        padding: 4px 10px;
                        background-color: $pryColor;
                    }
                    input{
                        border-radius: 0px 10px 0px 0px;
                        border: none;
                        padding: 5px 20px;
                    }
                }
                .social-icons{
                    margin: 50px 0 10px 90px;
                    i{
                        font-size: 30px;
                        padding: 10px 10px;
                        margin-right: 10px;
                        width: 50px;
                        height: 50px;
                        border: solid 1px $whiteColor;
                        border-radius: 50%;
                        color: $pryColor;
                        background-color: $whiteColor;
                    }
                }
            }
        }
        .copyright{
            margin-top: 50px;
            text-align: center;
        }
    }
}


@import "mediaquery";