@import "mixins";

.signup, .login{
    background: linear-gradient(121.59deg, rgba(5, 81, 167, 0) -6.24%, rgba(5, 81, 167, 0.29) 53.02%, rgba(5, 81, 167, 0) 87.97%), url("../Images/—Pngtree—blue\ watercolor\ brush\ paint\ isolated_5827678\ 1.png");
    .signup-body{
        margin: 7vh 20vw;
        background-color: $whiteColor;
        box-shadow: 0px 5px 20px 7px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        width: 60vw;
        .navbar-brand{
            margin: 0 50px;
            padding-top: 20px;
        }
        .signup-intro{
            @include rowDisplayFlex;
            justify-content: space-between;
            margin: 30px;
            .create-acct{
                margin-left: 60px;
                p{
                    color: $pryColor;
                    font-weight: 500;
                    font-size: 20px;
                    padding: 20px;
                }
            }
            .existing-user{
                .existing{
                    padding-right: 60px;
                    p{
                        a{
                            color: #16AE09;
                        }
                    }
                }
            }
        }
        form{
            margin: 20px 0 0 0;
            input{
                width: 65%;
                margin: 2vh 10.5vw;
                padding: 2vh 2vw;
                border-radius: 40px;
                border: solid 2px $pryColor;
            }
            ::-webkit-input-placeholder {
                color: $pryColor;
                font-style: italic;
                font-weight: 500;
            }
            :-ms-input-placeholder{
                color: $pryColor;
                font-style: italic;
                font-weight: 500;
            }
            ::placeholder{
                color: $pryColor;
                font-style: italic;
                font-weight: 500;
            }
            .submit{
                margin-top: 30px;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                padding: 0 0 10px 0;
                div{
                    flex-grow: 7;
                    button{
                        @include blueButton;
                        position: absolute;
                        margin-top: 2vh;
                        left: 580px;
                        padding:  10px 50px;
                    }
                }
                p{
                    flex-grow: 3;
                    width: 80px;
                    margin-right: 40px;
                    text-align: justify;
                }
            }
            .google{
                padding: 0 0 20px 0;
                margin: 0 22vw;
                p{
                    a{
                        color: #AE1309;
                    }
                }
            }
        }
    }
}